{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}
{% block body %}
{% include 'Card/navbar.html.twig' %}
<h1>Card</h1>

<p class="cards">{{cardString["graphic"] |raw}} </p>
{% endblock %}
