{% extends "base.html.twig" %}

{% block title %}DECK{% endblock %}

{% block body %}
{% include 'Card/navbar.html.twig' %}

<h1>Roll many dice</h1>

{# {% for card in cards %}
    {% if card["color"] == 'hearts' %}
        <li style="color: red" class="cards"> {{card["graphic"] |raw }} </li>
    {% endif %}
    <li class="cards"> {{ card["graphic"] | raw}} </li>
{% endfor %} #}

{% for card in cards %}
    {% if card["color"] == 'hearts' or card["color"] == 'diamonds' %}
        <li style="color: red" class="cards"> {{card["graphic"] |raw }} </li>
    {% else %}
        <li class="cards"> {{ card["graphic"] | raw}} </li>
    {% endif %}
{% endfor %}

{% endblock %}
