{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<main class="magic_main">
    <h1>TOBBE TROLLKARL</h1>
    <p class="magic_number_p"> DET HÄR ÄR DET MAGISKA NUMRET:</p>
    <img class="tobbe_trollkarl" src="img/tobbe.png">
    <p class="magic_number_p"> SKROLLA NER</p>
    <p class="magic_number_p"> LITE TILL</p>

    <p class="magic_number">{{ number }}</p>
    <img class="tobbe_trollkarl" src="img/oh-wow.gif">

</main>
{% endblock %}
