{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Redovisning</h1>

    <ul class="ul_list">
        <li class="kmom_list"><a href="#kmom01">Kmom01</a></li>
        <li class="kmom_list"><a href="#kmom02">Kmom02</a></li>
        <li class="kmom_list"><a href="#kmom03">Kmom03</a></li>
        <li class="kmom_list"><a href="#kmom04">Kmom04</a></li>
        <li class="kmom_list"><a href="#kmom05">Kmom05</a></li>
        <li class="kmom_list"><a href="#kmom06">Kmom06</a></li>
        <li class="kmom_list"><a href="#projekt">Projekt</a></li>
    </ul>
    <div class="kmom">
    <h2 id="kmom01">kmom01</h2>

        <p>Jag har endast erfarenhet kring objektorientering från detta program och ingenting utöver det. Jag har försökt mig på denna kurs innan men jag tror 
            att det blev för mycket för mig på en och samma gång och iom corona blev allt tokigt bara.</p>
        <p> Det man behöver veta för att komma igång med sina första klasser är att det finns objekt som har medlemsvariablar och metoder. Objekt skapas utifrån 
        klasser och är som en mall som gör att man kan skapa nya objekt.</p>

        <p>Eftersom det är andra gången för mig att göra denna kurs så känns strukturen och kodbasen bra. Jag tror man behöver repetera och andas en del för 
        att förstå sig på en ny struktur och kodbas igen.</p>

        <p> TIL </p>
        <p>- Jag har lärt mig att jag inte tycker om github då det krånglar allt för ofta. Även när man följer en simpel tutorial i hur man skapar ett repostiory så går det aldrig bra!!?! Github desktop is the sh*it. </p>
        <p>- Jag har lärt mig mer om klasser och om mappstrukturerna i symfony.</p>
</div>
<div class="kmom">
    <h2 id="kmom02">kmom02</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel consequat enim. Suspendisse commodo, ipsum a imperdiet vestibulum, purus libero suscipit orci, eget congue tellus eros in tellus. Donec commodo euismod mauris, nec blandit mauris ultrices at. Fusce rhoncus sapien in leo imperdiet, euismod mattis odio laoreet. Sed vel nunc vel tortor dapibus fringilla. </p>
</div>
<div class="kmom">
    <h2 id="kmom03">kmom03</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel consequat enim. Suspendisse commodo, ipsum a imperdiet vestibulum, purus libero suscipit orci, eget congue tellus eros in tellus. Donec commodo euismod mauris, nec blandit mauris ultrices at. Fusce rhoncus sapien in leo imperdiet, euismod mattis odio laoreet. Sed vel nunc vel tortor dapibus fringilla. </p>
</div>
<div class="kmom">
    <h2 id="kmom04">kmom04</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel consequat enim. Suspendisse commodo, ipsum a imperdiet vestibulum, purus libero suscipit orci, eget congue tellus eros in tellus. Donec commodo euismod mauris, nec blandit mauris ultrices at. Fusce rhoncus sapien in leo imperdiet, euismod mattis odio laoreet. Sed vel nunc vel tortor dapibus fringilla. </p>
</div>
<div class="kmom">
    <h2 id="kmom05">kmom05</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel consequat enim. Suspendisse commodo, ipsum a imperdiet vestibulum, purus libero suscipit orci, eget congue tellus eros in tellus. Donec commodo euismod mauris, nec blandit mauris ultrices at. Fusce rhoncus sapien in leo imperdiet, euismod mattis odio laoreet. Sed vel nunc vel tortor dapibus fringilla. </p>
</div>
<div class="kmom">
    <h2 id="kmom06">kmom06</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel consequat enim. Suspendisse commodo, ipsum a imperdiet vestibulum, purus libero suscipit orci, eget congue tellus eros in tellus. Donec commodo euismod mauris, nec blandit mauris ultrices at. Fusce rhoncus sapien in leo imperdiet, euismod mattis odio laoreet. Sed vel nunc vel tortor dapibus fringilla. .</p>
</div>
<div class="kmom">
    <h2 id="projekt">Projekt</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel consequat enim. Suspendisse commodo, ipsum a imperdiet vestibulum, purus libero suscipit orci, eget congue tellus eros in tellus. Donec commodo euismod mauris, nec blandit mauris ultrices at. Fusce rhoncus sapien in leo imperdiet, euismod mattis odio laoreet. Sed vel nunc vel tortor dapibus fringilla. </p>
</div>
{% endblock %}
