{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
<main class="me_main">
    <h1>Om Mig</h1>
    <p> Josefine heter jag, 24 år gammal och bor i Flen flen solsken.</p>
    <img class="picture_me" src="{{ asset('img/josefine_cartoon.png') }}" alt="ai generated picture of me">
</main>
{% endblock %}

